---
notes: |
  This is the image gallery displayed on top of the item page.
---

<div data-am-imagegallery>
  <div class="image-gallery" id="swipe">
    <div class="image-gallery-wrap">
      <div class="image-gallery-item">
        <div class="image-gallery-item-image" style="background-image: url(/assets/toolkit/images/sample/gallery/sample-gallery-exterior-01.png);"></div>
      </div>
      <div class="image-gallery-item">
        <div class="image-gallery-item-image" style="background-image: url(/assets/toolkit/images/sample/gallery/sample-gallery-exterior-02.png);"></div>
      </div>
      <div class="image-gallery-item">
        <div class="image-gallery-item-image" style="background-image: url(/assets/toolkit/images/sample/gallery/sample-gallery-exterior-03.png);"></div>
      </div>
      <div class="image-gallery-item">
        <div class="image-gallery-item-image" style="background-image: url(/assets/toolkit/images/sample/gallery/sample-gallery-exterior-04.png);"></div>
      </div>
      <div class="image-gallery-item">
        <div class="image-gallery-item-image" style="background-image: url(/assets/toolkit/images/sample/gallery/sample-gallery-exterior-05.png);"></div>
      </div>
      <div class="image-gallery-item">
        <div class="image-gallery-item-image" style="background-image: url(/assets/toolkit/images/sample/gallery/sample-gallery-exterior-06.png);"></div>
      </div>
      <div class="image-gallery-item">
        <div class="image-gallery-item-image" style="background-image: url(/assets/toolkit/images/sample/gallery/sample-gallery-interior-01.png);"></div>
      </div>
      <div class="image-gallery-item">
        <div class="image-gallery-item-image" style="background-image: url(/assets/toolkit/images/sample/gallery/sample-gallery-interior-02.png);"></div>
      </div>
      <div class="image-gallery-item">
        <div class="image-gallery-item-image" style="background-image: url(/assets/toolkit/images/sample/gallery/sample-gallery-interior-03.png);"></div>
      </div>
    </div>
  </div>
  <button class="image-gallery-nav-prev" onclick="mySwipe.prev()">
    <i class="icon-angle-left-big no-margin"></i>
  </button>
  <button class="image-gallery-nav-next" onclick="mySwipe.next()">
    <i class="icon-angle-right-big no-margin"></i>
  </button>
  <div class="image-gallery-toolbar">
    <div class="container">
      <div class="image-gallery-quick-nav">
        <div class="image-gallery-quick-nav-item is-active">
          <button class="image-gallery-quick-nav-item-btn" onclick="mySwipe.slide(0)"></button>
        </div>
        <div class="image-gallery-quick-nav-item">
          <button class="image-gallery-quick-nav-item-btn" onclick="mySwipe.slide(1)"></button>
        </div>
        <div class="image-gallery-quick-nav-item">
          <button class="image-gallery-quick-nav-item-btn" onclick="mySwipe.slide(2)"></button>
        </div>
        <div class="image-gallery-quick-nav-item">
          <button class="image-gallery-quick-nav-item-btn" onclick="mySwipe.slide(3)"></button>
        </div>
        <div class="image-gallery-quick-nav-item">
          <button class="image-gallery-quick-nav-item-btn" onclick="mySwipe.slide(4)"></button>
        </div>
        <div class="image-gallery-quick-nav-item">
          <button class="image-gallery-quick-nav-item-btn" onclick="mySwipe.slide(5)"></button>
        </div>
        <div class="image-gallery-nav-item-separator">
          <div class="image-gallery-nav-item-separator-inner"></div>
        </div>
        <div class="image-gallery-quick-nav-item">
          <button class="image-gallery-quick-nav-item-btn" onclick="mySwipe.slide(6)"></button>
        </div>
        <div class="image-gallery-quick-nav-item">
          <button class="image-gallery-quick-nav-item-btn" onclick="mySwipe.slide(7)"></button>
        </div>
        <div class="image-gallery-quick-nav-item">
          <button class="image-gallery-quick-nav-item-btn" onclick="mySwipe.slide(8)"></button>
        </div>
      </div>
    </div>
  </div>
</div>
