[data-am-imagegallery] {
  position: relative;
  background-color: $c-accent;

  .image-gallery {
    position: relative;
    overflow: hidden;
    visibility: hidden;
  }

  .image-gallery-wrap {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;

    > * {
      font-size: 1rem;
    }
  }

  .image-gallery-item {
    position: relative;
    display: inline-block;
  }

  .image-gallery-item-image {
    display: block;
    height: 0;
    padding-bottom: 42.7%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  // Navigation

  %image-gallery-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: $gutter;
    font-size: 4rem;
    color: $c-fade-dark-40;
  }

  .image-gallery-nav-prev {
    @extend %image-gallery-nav;
    left: 0;
  }

  .image-gallery-nav-next {
    @extend %image-gallery-nav;
    right: 0;
  }

  // Toolbar

  .image-gallery-toolbar {
    position: absolute;
    bottom: $gutter-half;
    left: 0;
    right: 0;
    text-align: center;
  }

  // Quick Navigation

  .image-gallery-quick-nav {
    @include transform(translateX(-($gutter-half / 2)));
    display: table;
    table-layout: fixed;
    width: calc(100% + #{$gutter-half});
    max-width: 800px;
    margin: 0 auto;
  }

  .image-gallery-quick-nav-item {
    display: table-cell;
    vertical-align: middle;
    padding-left: ($gutter-half / 2);
    padding-right: ($gutter-half / 2);


    &.is-active {
      .image-gallery-quick-nav-item-btn {
        &:before {
          background-color: $c-brand-blue;
        }
      }
    }
  }

  .image-gallery-nav-item-separator {
    display: table-cell;
    vertical-align: middle;
    width: 1px;
    padding-left: $gutter-half;
    padding-right: $gutter-half;
  }

  .image-gallery-nav-item-separator-inner {
    display: block;
    width: 1px;
    height: $gutter;
    background-color: rgba($c-brand-blue, 0.2);
  }

  .image-gallery-quick-nav-item-btn {
    $dot-height: 3px;

    display: block;
    width: 100%;
    padding-top: $gutter;
    padding-bottom: $gutter;

    &:before {
      content: '';
      display: block;
      height: $dot-height;
      background-color: rgba($c-brand-blue, 0.2);
    }

    &:hover {
      &:before {
        background-color: rgba($c-brand-blue, 0.4);
      }
    }
  }
}
