---
notes: |
  This is a default hero.
---

<div data-am-hero>
    <div class="hero-content">
        <div class="container font-bold">
            Should this be included here? With large image script etc..
        </div>
    </div>
</div>
